* {
    margin: 0;
    padding: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/*Centers and styles the various screens*/

#title_screen,
#player_1_win,
#player_2_win,
#draw {
    width: 50%;
    text-align: center;
    font-size: 2em;

    /*The following four lines center the content in the center of the screen.*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
*/
}

.menu_button {
    color: #000000;
    border-width: 10px;
    border-radius: 100%;
    font-size: 100%;
    width: auto;
    height: 3.25em;
    border-color: red;
}

table {
    background-color: yellow;

    /*Centers the board*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Styles the board buttons specifically*/

button {
    border-style: solid;
    border-color: yellow;
    border-radius: 100%;
    background-color: #ffffff;
    color: #ffffff;
    width: 1.3em;
    font-size: 2em;
}
